[project]
name = "hyper-send"
version = "1.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.11"
authors = [
    { name = "Flet developer", email = "you@example.com" }
]
dependencies = [
"flet==0.24.1"
]

[tool.flet]
# org name in reverse domain name notation, e.g. "com.mycompany".
# Combined with project.name to build bundle ID for iOS and Android apps
org = "com.hypersend"

# project display name that is used as an app title on Android and iOS home screens,
# shown in window titles and about app dialogs on desktop.
product = "HyperSend"

# company name to display in about app dialogs
company = "HyperSend"

# copyright text to display in about app dialogs
copyright = "Copyright (C) 2025 by HyperSend"

[tool.flet.app]
module = "main"
path = "main.py"

[tool.flet.build.apk]
permissions = [
    "android.permission.INTERNET",
    "android.permission.WRITE_EXTERNAL_STORAGE",
    "android.permission.READ_EXTERNAL_STORAGE"
]

[tool.uv]
dev-dependencies = [
"flet[all]==0.24.1",
]

[tool.poetry]
package-mode = false

[tool.poetry.group.dev.dependencies]
flet = {extras = ["all"], version = "0.24.1"}
